.input-container {
  margin-bottom: 1.5rem;
  .input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    background-color: #fff;
    &:focus {
      outline: none;
    }
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  select.input {
    width: fit-content;
    min-width: 100px;
    @media (max-width: 475px) {
      width: 100%;
    }
  }

  textarea.input {
    resize: vertical;
  }
}
