.qa-sidebar {
  background-color: var(--primary-color);
  min-width: 250px;
  min-height: 92vh;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  a {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    color: #444;
    border-bottom: 1px solid #eee;
    &:hover {
      background-color: var(--yellow-color);
    }
    &.active {
      background-color: var(--yellow-color);
    }
  }

  @media (max-width: 991px) {
    position: absolute;
    transform: translateX(-250px);
    border-right: 1px solid #ddd;
    min-height: 100%;
    z-index: 999;
  }

  &.show {
    transform: translateX(0);
  }
}
